.wrapper-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #ddf2f3;
  border-radius: 50%;
  color: #1b2929;
  font-weight: bolder;
  font-size: 1.2em;
  cursor: pointer;
}

.operator {
  background-color: #fff5e1;
}