.wrapper-clear-btn {
  background-color: #ddf2f3;
  display: flex;
  flex: 1;
  border-radius: 50px;
  padding: 15px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  color: #1b2929;
  font-weight: bolder;
  font-size: 1.2em;
  cursor: pointer;
}